*~
DataStructures.aux
DataStructures.fdb_latexmk
DataStructures.fls
DataStructures.log
DataStructures.out
DataStructures.pdf
LevelInfo.aux
LevelInfo.fdb_latexmk
LevelInfo.fls
LevelInfo.log
LevelInfo.out
LevelInfo.pdf
Qesto.aux
Qesto.fdb_latexmk
Qesto.fls
Qesto.log
Qesto.out
Qesto.pdf
*.stackdump
